<h1>餐廳後台</h1>
<div>
  <a href="/admin/restaurants">Restaurants</a> |
  <a href="/admin/users">Users</a> |
  <a href="/admin/categories">Categories</a>
</div>
   
<br/>
{{#if category}}
<form action="/admin/categories/{{category.id}}?_method=PUT" method="POST" >
    <input type="text" name="categoryName" placeholder="name" value="{{category.name}}">
    <button type="submit">Update</button>
    <a href="/admin/categories">or Create New</a>
</form>

{{else}}
<form action="/admin/categories" method="POST" >
    <input type="text" name="categoryName" placeholder="name">
    <button type="submit">Create</button>
</form>
{{/if}}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>