<h1>餐廳後台</h1>
<div>
    <a href="/admin/restaurants">Restaurants</a> |
    <a href="/admin/users">Users</a> 
</div>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">row</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>
          {{#if this.isAdmin}}
            admin
          {{else}}
            user
          {{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST">
            {{#if this.isAdmin}}
            <button type="submit">Set as User</button>
            {{else}}
            <button type="submit">Set as Admin</button>
            {{/if}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>