<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="{{requestUser.image}}" alt="profilePicture" style="width: 250px;margin-bottom: 25px">
        </div>
        <div class="col-sm">
            <p>{{requestUser.name}}</p>
            <p>{{requestUser.email}}</p>
            <p>{{commentsAmounts}}筆已評論</p>
            {{#ifCond user.id requestUser.id}}
                <a href="/users/{{user.id}}/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
            {{/ifCond}}
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
            {{commentsAmounts}}筆已評論
    </div>
    <div>
        {{#each comments}}
        <a href="/restaurants/{{this.Restaurant.id}}">
            <img class="m-4" src={{this.Restaurant.image}} alt="" style="width: 80px">
        </a>
        {{/each}}
    </div>
</div>